In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving framingham.csv to framingham.csv

In [ ]:
df = pd.read_csv('framingham.csv')
df

      male  age  education  ...  heartRate  glucose  TenYearCHD
0        1   39        4.0  ...       80.0     77.0           0
1        0   46        2.0  ...       95.0     76.0           0
2        1   48        1.0  ...       75.0     70.0           0
3        0   61        3.0  ...       65.0    103.0           1
4        0   46        3.0  ...       85.0     85.0           0
...    ...  ...        ...  ...        ...      ...         ...
4235     0   48        2.0  ...       84.0     86.0           0
4236     0   44        1.0  ...       86.0      NaN           0
4237     0   52        2.0  ...       80.0    107.0           0
4238     1   40        3.0  ...       67.0     72.0           0
4239     0   39        3.0  ...       85.0     80.0           0

[4240 rows x 16 columns]

In [ ]:
df1 = df

In [ ]:
df1.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
mean_value = df1['cigsPerDay'].mean()
df1['cigsPerDay'] = df1['cigsPerDay'].fillna(mean_value)

mean_value_BMI = df1['BMI'].mean()
df1['BMI'] = df1['BMI'].fillna(mean_value_BMI)

mean_value = df1['heartRate'].mean()
df1['heartRate'] = df1['heartRate'].fillna(mean_value)

In [ ]:
df1.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay           0
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                  0
heartRate            0
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
mean_currentSmoker_true = df1.groupby('currentSmoker').mean()['BPMeds'].round().loc[1]
mean_currentSmoker_false = df1.groupby('currentSmoker').mean()['BPMeds'].round().loc[0]
print (mean_currentSmoker_true, mean_currentSmoker_false)

0.0 0.0

In [ ]:
df1['BPMeds'] = df1['BPMeds'].fillna(0)

In [ ]:
df1.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay           0
BPMeds               0
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                  0
heartRate            0
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
mean_by_man = df1.groupby('male').mean()['totChol'].round().loc[1]
mean_by_woman = df1.groupby('male').mean()['totChol'].round().loc[0]
print (mean_by_mane, mean_by_woman)

233.0 239.0

In [ ]:
df1.loc[df1['male']==1, 'totChol'] = df1.loc[df1['male']==1, 'totChol'].fillna(mean_by_man)
df1.loc[df1['male']==0, 'totChol'] = df1.loc[df1['male']==0, 'totChol'].fillna(mean_by_woman)

In [ ]:
df1.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay           0
BPMeds               0
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol              0
sysBP                0
diaBP                0
BMI                  0
heartRate            0
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
df1 = df1.drop(['education'], axis=1)
df1 = df1.drop(['glucose'], axis=1)

In [ ]:
df1.isna().sum()

male               0
age                0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
TenYearCHD         0
dtype: int64

In [ ]:
df1

      male  age  currentSmoker  cigsPerDay  ...  diaBP    BMI  heartRate  TenYearCHD
0        1   39              0         0.0  ...   70.0  26.97       80.0           0
1        0   46              0         0.0  ...   81.0  28.73       95.0           0
2        1   48              1        20.0  ...   80.0  25.34       75.0           0
3        0   61              1        30.0  ...   95.0  28.58       65.0           1
4        0   46              1        23.0  ...   84.0  23.10       85.0           0
...    ...  ...            ...         ...  ...    ...    ...        ...         ...
4235     0   48              1        20.0  ...   72.0  22.00       84.0           0
4236     0   44              1        15.0  ...   87.0  19.16       86.0           0
4237     0   52              0         0.0  ...   83.0  21.47       80.0           0
4238     1   40              0         0.0  ...   98.0  25.60       67.0           0
4239     0   39              1        30.0  ...   86.0  20.91       85.0           0

[4240 rows x 14 columns]

In [ ]:
X = df1.drop(['currentSmoker'], axis=1)
y = df1['currentSmoker']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
model = LogisticRegression()

model.fit(X_train, y_train)

answer_pred = model.predict(X_train)

print(model.score(X_test, y_test))

1.0

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
X = df1.drop(['diabetes'], axis=1)
y = df1['diabetes']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
model = LogisticRegression()

model.fit(X_train, y_train)

answer_pred = model.predict(X_train)

print(model.score(X_test, y_test))

0.9827044025157232

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
X = df1.drop(['prevalentStroke'], axis=1)
y = df1['prevalentStroke']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

In [ ]:
model = LogisticRegression()

model.fit(X_train, y_train)

answer_pred = model.predict(X_train)

print(model.score(X_test, y_test))

0.9935141509433962

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
X = df1.drop(['age'], axis=1)
y = df1['age']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
model = LogisticRegression()

model.fit(X_train, y_train)

answer_pred = model.predict(X_train)

print(model.score(X_test, y_test))

0.05070754716981132

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)